
.title-wrapper {
    text-align: center;
}

.section-title {
    display: inline-block;
    font-size: 35px;
    font-weight: 600;
    color: #000;
    margin-bottom: 35px;
    position: relative;
}

.section-title::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -100px;
    transform: translateY(-50%);
    width: 80px;
    height: 3px;
    background-color: #000;
}

.section-title::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -100px;
    transform: translateY(-50%);
    width: 80px;
    height: 3px;
    background-color: #000;
}