.category-card {
    border: 1px solid #EDF1FF;
    padding: 25px;
    margin-bottom: 25px;
}

.category-card .category-products p {
    text-align: right;
    color: #6F6F6F;
    font-size: 15px;
    font-weight: 400;
}

.category-card .category-image {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.category-card .category-image img {
    width: 100%;
    height: 100%;
    transition: 0.3s all linear;
}

.category-card .category-image img:hover {
    transform: scale(1.2);
}

.category-card .category-body h4 {
    padding-top: 25px;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}