.side-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    border-right: 1px solid #EEEEEE;
}

.side-bar-links {
    padding-top: 100px;
}

.side-bar-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.side-bar-links ul li a .side-bar-icon {
    font-size: 20px;
    margin-right: 14px;
}

.side-bar-links ul li a {
    width: 100%;
    text-decoration: none;
    display: inline-block;
    padding: 14px 25px;
    color: #000;
}

.side-bar-links ul li a:hover {
    background-color: #f6f5f5;
}

.side-bar-links ul li a.active {
    background-color: #fcd9d6;
    border-right: 4px solid #C88882;
}