.footer {
    background-color: #EDF1FF;
}

.footer .footer-info .footer-logo {
    font-size: 35px;
    font-weight: 600;
}

.footer .footer-info .footer-logo span {
    color: #D19C97;
    padding: 0 15px;
    border: 1px solid #fff;
    font-size: 40px;
    margin-right: 5px;
}

.footer .footer-info p {
    padding: 20px 0;
    margin: 0;
}

.footer .footer-info li .info-icons {
    color: #D19C97;
    font-size: 16px;
    margin-right: 10px;
}

.footer h4 {
    color: #000;
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 25px;
}

.footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer ul li {
    padding-bottom: 10px;
}

.footer ul a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 400;
}

.footer ul a:hover {
    text-decoration: underline #000;
}

.footer .footer-form input {
    padding: 12px;
    width: 100%;
    background-color: white;
    color: #000;
    border: none;
    outline: none;
    margin-bottom: 14px;
}

.footer .footer-form button {
    width: 100%;
    padding: 15px 0;
    border: none;
    outline: none;
    background-color: #D19C97;
    color: #000;
}

.footer .footer-form button:hover {
    color: #fff;
    background-color: #c5837c;
}