.product-card {
    border: 1px solid #EDF1FF;
    margin-bottom: 25px;
}

.product-card .card-image {
    width: 100%;
    height: 320px;
    overflow: hidden;
}

.product-card .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s linear;
}

.product-card .card-image img:hover {
    transform: scale(1.2);
}

.product-card .card-content {
    text-align: center;
}

.product-card .card-content h5 {
    font-size: 17px;
    font-weight: 500;
    color: #000;
    padding: 25px 0 12px;
    margin: 0;
}

.product-card .card-content p {
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

.product-card .card-content p del {
    color: #6b6b6b;
}

.product-card .card-footer {
    border-top: 1px solid #EDF1FF;
}

.product-card .card-footer-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-card .card-footer button {
    padding: 14px 18px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    transition: 0.2s ease;
}

.product-card .card-footer button:hover {
    color: #d19c97;
}

.product-card .card-footer a:hover {
    color: #d19c97;
}

.product-card .card-footer button .footer-icon {
    color: #d19c97;
    font-size: 18px;
    margin-right: 5px;
}