.login-form-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    padding: 50px 35px;
}

.login-form-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 18px;
}

.login-form-title h3 {
    font-size: 26px;
    font-weight: 600;
}

.login-form-title h3 span {
    color: #D19C97;
    padding: 0 10px;
    border: 1px solid #d7d7d7;
    margin-right: 10px;
}

.login-form-title h5 {
    color: #000;
    font-weight: 600;
}

.login-form .form-control {
    border: 1px solid #d7d7d7;
    border-radius: 0;
    border-radius: 4px;
}

.login-form .form-control:focus {
    box-shadow: none;
    border: 1px solid #D19C97;
}

.login-form .input-error {
    color: red;
    font-size: 14px;
    padding-top: 5px;
    margin: 0;
}

.login-form .form-btn {
    width: 100%;
    padding: 15px 0;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: #D19C97;
    color: #000;
    margin-top: 10px;
    cursor: pointer;
}
