.custom-select-wrapper {
    position: relative;
}

.custom-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #EEEEEE;
    padding: 8px 10px;
    user-select: none;
}

.custom-select p {
    font-size: 16px;
    font-weight: 400;
    color: #636363;
    margin: 0;
}

.custom-select .rotate {
    transform: rotate(180deg);
}

.custom-options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #EEEEEE;
    padding: 10px 0;
    z-index: 1000;
}

.custom-options .custom-option {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    cursor: pointer;
}

.custom-options .custom-option:hover {
    background-color: #FCD9D6;
}